
<div class="sitemap-footer-wrapper">
    <div class="site-footer__sitemap hidden-xs" data-sf-element="Sitemap">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
</div>
<div class="site-footer__subfooter">
    <div class="container">
        <div class="row" data-sf-element="Subfooter">
            <div class="sf_colsIn site-footer__subfooter__copyright" data-sf-element="Copyright" data-placeholder-label="Copyright">
            </div>
            <div class="sf_colsIn site-footer__subfooter__nav" data-sf-element="Subfooter Nav" data-placeholder-label="Subfooter Nav">
            </div>
        </div>
    </div>
</div>
