<div class="banner product-banner">
    <div class="banner-content">
        <div class="container">
            <div class="sf_colsIn" data-sf-element="Heading - H1" data-placeholder-label="Heading - H1">
            </div>
            <div class="sf_colsIn" data-sf-element="Heading - H2" data-placeholder-label="Heading - H2">
            </div>
            <div class="sf_colsIn product-logo" data-sf-element="Logo Placeholder" data-placeholder-label="Logo Placeholder">
            </div>
            <div class="sf_colsIn product-banner-text" data-sf-element="Marketing Placeholder" data-placeholder-label="Marketing Placeholder">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sf_colsIn background-image-placeholder" data-sf-element="Background Image Placeholder" data-placeholder-label="Background Image Placeholder">
        </div>
    </div>
</div>